body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo i {
    font-size: 24px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.toggle-button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .sidebar {
    background-color: #fff;
    color: #333;
}

.dark-mode .nav-links a {
    color: #333;
}
